nav a{
    
    font-size: 25px;
    color: #5b3a29;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    border: 2px;
    border-color: #a76d4d;
    border-style:outset;
    text-decoration: none;
    padding: 2px;
}
    
a:active{
    background-color: brown;
}
    
a:hover{
    color:#C2B280;
    background-color:brown;
}

body{
    background-color: #C2B280;
}

form{
    border: 2px;
    border-color: #a76d4d;
    border-style: inset;
    background-color: beige;
    color: #5b3a29;
    width: 700px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

input{
    display: block;
    width: 500px;
    place-items: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

button{
    background-color: #a76d4d;
    display: block;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}

article{
    display: grid;
    place-items: center;
    color:#5b3a29;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #5b3a29;
    color: #C2B280;
}
