html{
    font-family:'Courier New', Courier, monospace;
}

a{
    font-size: 25px;
    color: #5b3a29;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    border: 2px;
    border-color: #a76d4d;
    border-style:outset;
    text-decoration: none;
    padding: 2px;
}

a:active{
    background-color: brown;
}

a:hover{
    color:#C2B280;
    background-color:brown;
}

body{
    background-color: #C2B280;
}

article{
    color: #5b3a29;
    place-items: center;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #5b3a29;
    color: #C2B280;
}