html{
    font-family:'Courier New', Courier, monospace;
}

body{
    background-color:#E4CDAF;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 20px;
}

article{
    color: #5b3a29;
    
}

a{
    margin-right: 15px;
    border: 1px;
    border-color: #a76d4d;
    border-style: dotted;
    text-decoration: none;
    padding: 2px;
}

a:active{
    background-color: brown;
}

a:hover{
    color:#C2B280;
    background-color:brown;
}