html{
    font-family:'Courier New', Courier, monospace;
}

img{
    display: block;
    margin: 0 auto;
    width: 250px;
}

body{
    background-color:#E4CDAF;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 20px;
}

article{
    place-items: center;
    color: #5b3a29;
}

article h2{
    display: block;
    place-self: center;
}


a{
    font-size: 25px;
    color: #5b3a29;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    border: 2px;
    border-color: #a76d4d;
    border-style:outset;
    text-decoration: none;
    padding: 2px;
    place-items: center;
}

a:active{
    background-color: brown;
}

a:hover{
    color:#C2B280;
    background-color:brown;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #5b3a29;
    color: #C2B280;
}